.header {
  background-color: #379dfb;
  padding: 20px 50px;
  display: flex;
  flex-direction: row;

  @media only screen and (max-width: 520px) {
    flex-direction: column;
  }
}

.logo-container {
  display: flex;
  flex-direction: row;

  @media only screen and (max-width: 520px) {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
}

.logo-text {
  margin-left: 10px;
  align-self: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

img {
  height: 40px;
  width: 40px;
  max-width: 40px;
  max-height: 40px;

  @media only screen and (max-width: 520px) {
    margin-right: auto;
    margin-left: auto;
  }
}

p {
  margin-left: auto;
  align-self: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: white;

  @media only screen and (max-width: 520px) {
    margin-right: auto;
  }
}
